@import "tailwindcss";
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes float {
  0% { transform: translateY(0) rotate(0deg);}
  50% { transform: translateY(-15px) rotate(15deg);}
  100% { transform: translateY(0) rotate(-5deg);}
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
